* {
    font-family: 'Nunito', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

p {
    font-size: 1.25rem;
}

h3 {
    font-size: 1.35rem;
}

nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 1rem;
    background-color: #097969;
    padding: 0.5rem;
}

.name {
    letter-spacing: 0.125rem;
    font-size: 1.25rem;
}

.name a {
    color: #FCF8E8;
    text-decoration: none;
    font-weight: bold;
    padding: 0.938rem 1.875rem;
}

.name a:active, .name a:hover, .name a:focus {
    background-color: #FFFFE0;
    color: #097969;
}

.nav-menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-left: 0rem;
}

.nav-menu li {
    list-style: none;
}

.nav-menu a {
    color: #FCF8E8;
    text-decoration: none;
    letter-spacing: 0.125rem;
    font-weight: bold;
    padding: 0.938rem 1.875rem;
}

.nav-menu a:active, .nav-menu a:hover, .nav-menu a:focus {
    background-color: #FFFFE0;
    color: #097969;
}

header {
    padding-top: 6rem;
}

section {
    padding: 5rem 5rem 0rem;
    max-width: 75rem;
    margin: auto;
}

#about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.about-info {
    width: 48%;
    padding-top: 10rem;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skill-category {
    width: 48%;
    margin-bottom: 1.25rem;
}

.skill-list {
    list-style: none;
    padding: 0;
}

.skill-list li {
    background-color: #eee;
    margin: 0.625rem 0rem;
    padding: 0.625rem;
    border-radius: 0.313rem;
    display: flex;
    align-items: center;
    font-size:1.1rem;
}

ul li img {
    width: 3.125rem;
    height: 3.125rem;
    margin-right: 0.625rem;
}

#protopie {
    width: 3.438rem;
}

.project {
    margin-bottom: 3.125rem;
}

.project img {
    max-width: 20%;
    height: auto;
}

#leWittArt {
    background-color: white;
    border: 1px solid #ccc;
    width: 1200px;
    height: 1000px;
}

.skill:hover {
    transform: scale(1.2);
    transition: 0.3s;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0.625rem 0;
    bottom: 0;
    width: 100%;
}

@media (min-width: 36.5rem) {

    .nav-menu {
        flex-direction: row;
    }

    nav {
        flex-direction: row;
        position: fixed;
        top: 0rem;
        width: 100%;
        z-index: 10;
    }
}

@media (max-width: 53.125rem) {

    .skills {
        flex-direction: column;
        align-items: center;
    }
}